/* CSS declarations go here */
/*body {
  background-color: black;
  color: white;
}*/

/*p, li {
  font-size: 14px;
}*/

img#hero {
  width: 60%;
}
/*body {
  background-color: "black";
  background-image: url("client/images/WRC1.jpg");
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}
*/
/*#heading {
  text-align: center;
  font-family: 'Philosopher', sans-serif;

}*/

/*a {
  color: white;
}*/
