/* CSS declarations go here */

.containerl {
    font-family: "Source Sans Pro";
}
/*body {
  background-color: "black";
  background-image: url("client/images/WRC1.jpg");
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}
*/
#heading {
  text-align: center;
  font-family: 'Philosopher', sans-serif;

}
